<div id="<%= dom_id presentation %>">
  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= presentation.description %>
  </p>

  <p>
    <strong>Presented at:</strong>
    <%= presentation.presented_at %>
  </p>

  <p>
    <strong>Presentation url:</strong>
    <%= presentation.presentation_url %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= presentation.organization %>
  </p>

  <p>
    <strong>Organization url:</strong>
    <%= presentation.organization_url %>
  </p>

</div>
